h1 {
    color: aquamarine;
    font-family: georgia;
    font-size: 50px;
    font-weight: 400;
    font-style: bold;
    text-align:center;
    background-color: teal;
    padding: 20px;
}

body{
    background-image: url(../images/yogic-sunrise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    font-family: arial;
    font-size: 30px;
    padding-right: 40px;
    text-align: center;
    list-style-position: inside;
} 



h3 {
    color:rgb(246, 245, 247);
    font-family: arial;
    font-size: 25px;
    font-weight:200;
    padding-left: 30px;

}



.yoga-studios {
    color: rgb(1, 6, 1);
    font-size: 18px;
    background-color: rgb(234, 184, 91, 0.6);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    text-align: center;
    list-style-position: inside;
    
    
}

.yoga-image {
    width: 300px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 10%;
    margin-bottom: 50px;


}

.yogashala-image {
    width: 300px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 50%;
    margin-bottom: 50px;
}

.self-practice {
    color: rgb(0, 9, 0);
    font-size: 18px;
    background-color:rgb(243, 145, 91, 0.6);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    text-align:center;
}

.solopractice-image {
    width: 300px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 10%;
    margin-bottom: 50px;
}

.homepractice-image {
    width: 300px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 50%;
    margin-bottom: 50px;
}


.yoga-philosophy {
    color: rgb(1, 4, 1);
    font-size: 18px;
    background-color: rgba(202, 86, 32, 0.6);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    text-align:center;
}

.philosophycontent-image {
    width: 300px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 10%;
    margin-bottom: 50px;

}

.yogareading-image {
    width: 300px;
    height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 50%;
    margin-bottom: 50px;
}